
/* giving all of the website these conditions */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Header styling */
  header {
    padding: 20px 35px;
    background-color: #aedfc0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
      font-size: 48px;
      font-weight: bold;
      color: darkblue;
      margin: 0;
      background-color: #226688;
  }

  header a{
      text-decoration: none;
      color: black;
  }

  header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

header nav ul li a:hover {
    background: #226688;
    color: black;
    border-radius: 15px;
    text-shadow: none;
    text-decoration: underline;
}

.subtitle {
    padding: 60px 60px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../images/soothing\ background.jpg);
}
.subtitle h3 {
    display: flex;
    justify-content: end;
    font-size: 32px;
    background-color: #226688;
    color: aliceblue;

}

.about-me {
    display: flex;
    flex-wrap: wrap;
    border-right: 3px solid darkblue;
    color: darkblue;
    justify-content: space-between;
}

.about-me p {
    font-size: 16px;

}