
/* giving all of the website these conditions */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Header styling */
  header {
    padding: 20px 35px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
      font-size: 48px;
      font-weight: bold;
      color: darkblue;
      margin: 0;
      background-color: #226688;
  }

  header a{
      text-decoration: none;
      color: black;
  }

  header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: black;
    text-shadow: none;
    text-decoration: underline;
}
/* Subtitle styling */
.subtitle {
    padding: 60px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-image: url(../images/soothing\ background.jpg);
}
.subtitle h3 {
    margin-left: 20px;
    padding: 15px 20px 15px 20px;
    font-size: 32px;
    background-color: #226688;
    color: aliceblue;
}

/* about me section */
.about-me {
    color: darkblue;
    display: flex;
    justify-content: flex-start;
}

.about-me h3 {
    border-right: 4px solid darkblue;
    font-size: 48px;
    padding: 2em 0px;
    margin: 5px -2em;
    text-align: right;
    width: 35%;
    margin: 3.5%;
}

.about-me p {
    font-size: 15px;
    padding: 15px;
    margin: 5px 0 15px 0;
    width: 100%;
    text-align: left;
    margin: 3.5%;
    line-height: 1.5;
}
/* My Work section styling */
.project-block {
    color: darkblue;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-block h2 {
    border-right: 4px solid darkblue;
    font-size: 48px;
    padding: 2em 0px;
    margin: 5px -2em;
    width: 35%;
    text-align: right;
    margin: 3.5%;
}

.project-block article {
    width: 40%;
} 
.projects {
    padding: 15px 20px;
    margin: 20px -20px;
    background-image: url(../images/river.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    width: 100%;
}
.projects:hover {
    opacity: 1;
}

.projects a {
    color: aliceblue;
    background-color: #226688;
    font-size: 28px;

}
.projects p {
    color: aliceblue;
    background-color: #226688;
}


/* Footer/contact me section */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h3 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}