
/* giving all of the website these conditions */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Header styling */
  header {
    padding: 20px 35px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
      font-size: 48px;
      font-weight: bold;
      color: darkblue;
      margin: 0;
      background-color: #226688;
  }

  header a{
      text-decoration: none;
      color: black;
  }

  header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: black;
    text-shadow: none;
    text-decoration: underline;
}
/* Subtitle styling */
.subtitle {
    padding: 60px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-image: url(../images/soothing\ background.jpg);
}
.subtitle h3 {
    margin-left: 20px;
    padding: 15px 20px 15px 20px;
    font-size: 32px;
    background-color: #226688;
    color: aliceblue;
}

/* about me section and work section */
.main-body {
    padding: 20px;
    margin: 20px;
    max-width: fit-content;

}

/* about me section */
.about-me {
    color: darkblue;
    display: flex;
    justify-content: flex-start;
}

.about-me h3 {
    border-right: 4px solid darkblue;
    font-size: 48px;
    padding: 2em 1em;
    margin: 5px -2em;
    text-align: right;
    width: 35%;
    margin: 3.5%;
}

.about-me p {
    font-size: 15px;
    padding: 15px;
    margin: 5px 0 15px 0;
    width: 100%;
    text-align: left;
    margin: 3.5%;
    line-height: 1.5;
}
/* My Work section styling */
.project-block {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

#my-work h2 {
    border-right: 4px solid darkblue;
    font-size: 48px;
    color: darkblue;
    padding: 2em 1em;
    margin: 5px -2em;
    text-align: right;
    width: 25%;
    margin: 3.5%;
}
.projects {
    display: grid;
    grid-template-columns: 325px 300px 300px;
    gap: 15px;
    grid-auto-rows: minmax(300px, auto);
}
.portfolio {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url(../images/river.jpg);
    background-size: cover;
    opacity: .7;
}
.portfolio:hover {
    opacity: 1;
}
.portfolio a {
    color: #024e76;
    font-size: 28px;
}

.project-title2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../images/sunset.jpg);
    background-size: cover;
    opacity: .7;
}
.project-title2:hover {
    opacity: 1;
}
.project-title2 a {
    color: #024e76;
    font-size: 28px;
}

.project-title3 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../images/soothing\ background.jpg);
    background-size: cover;
    opacity: .7;
}
.project-title3:hover {
    opacity: 1;
}
.project-title3 a {
    color: #024e76;
    font-size: 28px;
}

.run-buddy {
    grid-column: 1;
    grid-row: 3;
    background-image: url(../images/Screenshot\ 2022-04-08\ 163456.png);
    background-size: cover;
    opacity: .7;
}
.run-buddy:hover {
    opacity: 1;
}
.run-buddy a {
    color: #024e76;
    font-size: 28px;
}

.project-title5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url(../images/shutterstock_686568868.jpg);
    background-size: cover;
    opacity: .7;
}
.project-title5:hover {
    opacity: 1;
}
.project-title5 a {
    color: #024e76;
    font-size: 28px;
} 



/* Footer/contact me section */
footer {
    color: darkblue;
    display: flex;
    flex-wrap: wrap;
}
footer h3 {
    border-right: 4px solid darkblue;
    font-size: 48px;
    color: darkblue;
    padding: 2em 1em;
    margin: 5px -2em;
    text-align: right;
    width: 25%;
    margin: 3.5%;
}
.nav {
    margin: 7px 0;
    padding: 3em 2em;
}
.nav address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.nav address section {
    display: inline;
}
.nav address section div {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* add media queries to make it smoother */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .main-body {
        width: 100%;
      }
      
      .main-body {
        text-align: center;
      }

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    .about-me {
        background-color: yellow;
        display: block;
        align-content: center;
      }
    
      .about-me h3 {
        padding: 0;
        margin: 0;
        border-right: none;
        border-bottom: 4px solid darkblue;
        flex: 2 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .about-me p {
        flex-wrap: wrap;
      }
      #my-work {
        background-color: greenyellow;
        border-right: none;
        padding: 0;
        margin: 0px;
        text-align: center;
      }


    
  }